.App {
  text-align: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
